USE [master]
GO
/****** Object:  Database [PromovArte]    Script Date: 14/11/2019 12:05:26 ******/
CREATE DATABASE [PromovArte]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PromovArte', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PromovArte.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PromovArte_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PromovArte_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PromovArte].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PromovArte]
GO
USE [PromovArte]
GO
/****** Object:  User [alumno]    Script Date: 14/11/2019 12:05:27 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Artistas]    Script Date: 14/11/2019 12:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artistas](
	[IdArtista] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Destacado] [bit] NULL,
	[Descripcion] [varchar](100) NULL,
	[Foto] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 14/11/2019 12:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[IdEvento] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [int] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Artista] [int] NOT NULL,
	[Foto] [varchar](100) NOT NULL,
	[Destacado] [bit] NOT NULL,
	[Fecha] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoEventos]    Script Date: 14/11/2019 12:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEventos](
	[IdTipoEvento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Artistas] ON 

INSERT [dbo].[Artistas] ([IdArtista], [Nombre], [Apellido], [NombreUsuario], [Contraseña], [Destacado], [Descripcion], [Foto]) VALUES (1, N'Jazmin', N'Galante', N'JazGalante', N'a', 0, N'bailarina', N'a.jpg')
INSERT [dbo].[Artistas] ([IdArtista], [Nombre], [Apellido], [NombreUsuario], [Contraseña], [Destacado], [Descripcion], [Foto]) VALUES (2, N'Lucia', N'Pavlov', N'LuliPavlov', N'1234', 1, N'pintora', N'b.jpg')
INSERT [dbo].[Artistas] ([IdArtista], [Nombre], [Apellido], [NombreUsuario], [Contraseña], [Destacado], [Descripcion], [Foto]) VALUES (3, N'Nicole', N'Orencel', N'NikiOrencel', N'aa', 0, N'cantante', N'c.jpg')
SET IDENTITY_INSERT [dbo].[Artistas] OFF
SET IDENTITY_INSERT [dbo].[Eventos] ON 

INSERT [dbo].[Eventos] ([IdEvento], [Tipo], [Descripcion], [Titulo], [Artista], [Foto], [Destacado], [Fecha]) VALUES (1, 3, N'Venta de esculturas', N'Esculturas', 1, N'2.jpg', 1, CAST(N'2020-05-30' AS Date))
INSERT [dbo].[Eventos] ([IdEvento], [Tipo], [Descripcion], [Titulo], [Artista], [Foto], [Destacado], [Fecha]) VALUES (2, 4, N'Exhibicion de pinturas', N'Pinturas', 2, N'3.jpg', 1, CAST(N'2020-02-04' AS Date))
INSERT [dbo].[Eventos] ([IdEvento], [Tipo], [Descripcion], [Titulo], [Artista], [Foto], [Destacado], [Fecha]) VALUES (3, 2, N'Obra de Sheakspeare ', N'Ser o no ser', 3, N'4.jpg', 0, CAST(N'2019-11-15' AS Date))
SET IDENTITY_INSERT [dbo].[Eventos] OFF
SET IDENTITY_INSERT [dbo].[TipoEventos] ON 

INSERT [dbo].[TipoEventos] ([IdTipoEvento], [Nombre]) VALUES (1, N'Recital')
INSERT [dbo].[TipoEventos] ([IdTipoEvento], [Nombre]) VALUES (2, N'Obra')
INSERT [dbo].[TipoEventos] ([IdTipoEvento], [Nombre]) VALUES (3, N'Venta')
SET IDENTITY_INSERT [dbo].[TipoEventos] OFF
USE [master]
GO
