@using PromovArte.Models
@{
    ViewBag.Title = "DetalleEvento";
}
<h2>@ViewBag.evento.Titulo</h2>
<p>@ViewBag.evento.Descripcion</p>
<img src="~/Content/@ViewBag.evento.NombreImagen" style="width:200px" />
<br>
<p> El evento se realizará el @ViewBag.evento.Fecha</p>
<a href='@Url.Action("Index","Home")' title="Index " target="blank"> Ir al Index </a>





